* {
    float: none;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

.container {
    height: 70vh;
    width: 50vh;
    margin: 20px;
    border-radius: 18px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
    background: lightcyan;
}

.search-box {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

.search-box input {
    padding: 5px;
    width: 50%;
    border: 1px solid #333;
}

.search-box input:focus {
    transition: 0.2s ease-in;
    color: white;
    background-color: #333;
}

.search-btn {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.search-btn:hover {
    transition: 0.2s ease-in;
    background-color: #555;
}

.weather-box {
    text-align: center;
    color: black;
    background-color: lightblue;
    border-radius: 18px;
    padding: 20px;
    margin: 25px;
    display: block;
}

.location {
    width: 300px;
    margin: auto;
    padding: 10px;
    line-height: 25px;
    justify-content: center;
    align-content: center;
    max-width: fit-content;
    font-size: 1.3em;
    font-weight: 600;
    display: inline-block;
}

.overview {
    line-height: 25px;
    display: inline;
}

.icon{
    margin-bottom: 7px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 10px;
    text-align: center;
    display: block;
}

.meteo {
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.1em;
    font-style: italic;
}