* {
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100px;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

.container {
    max-width: fit-content;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 18px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
    background: lightcyan;
}

.search-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.search-box input {
    padding: 5px;
    width: 50%;
    border: 1px solid #333;
}

.search-box input:focus {
    transition: 0.2s ease-in;
    color: white;
    background-color: #333;
}

.search-btn {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}

.search-btn:hover {
    transition: 0.2s ease-in;
    background-color: #555;
}

.weather-box {
    text-align: center;
    color: black;
    background-color: lightblue;
    border-radius: 18px;
    max-width: fit-content;
    margin: 25px;
    display: block;
}

.weather-box p {
    padding: 20px;
    margin: 0;
}

.location {
    width: 300px;
    padding: 10px;
    display: inline-block;
}

.location p {
    padding: 0;
    margin: 10px;
    line-height: 24px;
    font-size: 1.2em;
    font-weight: 600;
}

.location-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.1em;
    width: 100%;
}

.meteo {
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    font-style: italic;
}

.meteo p {
    padding: 10px;
    margin: 8px;
}